<div class="container contenedor-principal">
  <!-- METAPLAN main screen -->
  <div class="row">
    <div class="col-md-5">
      <img src="/images/LogoMetaPlan.svg" alt="logoMainContainer" align="center" class="img-responsive" width="400">
    </div> 
    <div class="col-sm-6 w3-display-container" style="height:300px;">
      <div class="w3-display-right w3-black w3-padding-large w3-animate-top">
        
          <p>MetaPlan es un proyecto desarrollado por docentes para docentes, cuyo objetivo fundamental
          es apoyar la practica, óptimizar la planeación, brindar herramientas y estrategias pedagógicas
          que permitan la construcción y reconstrucción del que hacer docente</p>
      </div>
    </div>
  </div>
</div>
<% body %>